/* ----------------------------------- *
 * Your Styles Here
 * ----------------------------------- */

/* Header Main */
body{
  margin: 0;

}
a:link{
  color: #7D1935;
}

a:hover{
  color: red;
}
a:visited{
  color: darkblue;
}


.site-title{
  text-align: center;
  font-family: fantasy;
  color: #7D1935;

}

#main-header{
      background-color: #F5F3EE;
      width: 100%;
      height: auto;
      margin: 0;
      border: 0;
      padding: 5px;


    }

.tagline{
  text-align: center;
  font-family: fantasy;
  color: #7D1935;
}



  /* Main Content */


  #main-content{
    background-color: #F5F3EE;
    width: 80%;
    height: auto;
    margin: 0;
    border: 0;
    padding: 5px;
    padding-left: 0;
    margin-left: 0;
    float: left;
    padding-right: 0;
    position: absolute;

  }

.main-content-section{
color: #7D1935;
margin-left: 10px;
margin-right: 10px;


}

p.left-tab{
  margin-left: 10px;
}

.section-title{
  background-color: #7D1935;
  color: #F5F3EE;
  width: 100%;
  height: auto;
  padding: 5px;
  border: 0;
  margin-left: 0;
  padding-left: 5px;
  margin-right: 5px;
  padding-right: 5px;

}

.section-content{
line-height: 1.5;
}

.citation a:hover{
/* need bettersolution*/
 color: red;

}





/* Sidebar */

#sidebar{
  position: relative;
  width: 20%;
  background-color: #4A96AD;
  float: right;
  margin-left: 0;
  padding-left: 0;
  padding-top: 5px;


  /* Need Better solution to extend sidebar all the way to the bottom */
  padding-bottom: 510px;

}

#sb-title{
  margin: 0;
  padding: 5px;
  padding-bottom: 0;
  padding-top: 0;
}

/* Float clearfix*/
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.sidebar-nav{




}

.nav-link-list-item{
  color: #F5F3EE;
  font-family:serif;
  font-size: 19px;
  hight: 1.2;
   margin:0 0 10px 0;

}

.nav-link{

}
